@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.Nav-container {
    padding: 12px;
    display: flex;
    align-items: center;
    border-bottom: 2px var(--med-grey) solid;
    background: black;
}

.Nav-logo {
    margin-left: 8px;
    height: 45px;
    width: 125px;
    background-image: url('./logo.jpg');
    background-size: cover;
}

.Nav-title {
    font-size: 32px;
    font-family: 'goldman';
    margin-left: 16px;
    color: #be0000;
}

